@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.sell {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-left: 600px;
    margin-top: 2rem;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sell .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.sell .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, black, rgb(156, 156, 154));

}

.content form .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .details .divInput {
    margin-bottom: 15px;

    width: calc(100% / 2 - 20px);
}

.details .divInput input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}



form .button {
    height: 45px;
    margin-right: 120px;
    margin-top: 25px;


}

form .button input {
    background-color:black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;


}

form .button input:hover {

    background: gray;
}


.sell textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

.sell select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 80%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    text-overflow: '';
   
}

option{
    
    border-radius: 28px;
    background: rgb(215, 211, 211);    
    font-size: 1em;
    color: #2C3E50;
    padding: 4px;
    right: 300px;
    top: 250px;
    position: unset;
   
  }

   

