
.card-clothe {
  margin-top: 5rem;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  border-radius: 5px;
  border: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.card-image {
  height: 27rem;
  width: 100%;
  object-fit: cover;
  transition: transform 200ms ease-in;
}

.card-title {
  padding: 0.7rem;
  font-size: 1.12rem;
}

.card-rating {
  padding: 0 1rem;
}

.btn-wrapper {
  display: flex;
}
.card-btn {
  padding: 1rem;
  font-size: 1rem;
  height: 1rem;
  width: 3%;
  margin: 1rem;
  border: 1px solid;
  border-radius: 35px;
  background: transparent;
  display: flex;
  transition: background 200ms ease-in, color 200ms ease-in;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cart-btn {
  height: 1rem;
  justify-content: center;
  align-items: center;
}
.fav-btn {
  height: 1.3rem;
}
.card-btn:hover {
  background-color: #e6ccb29f;
}
.card-btn:active {
  background-color: #e6ccb2;
}
.card-clothe:hover {
  transform: scale(1.01);
}
.card-image:hover {
  transform: scale(1.32);
}
.card-clothe:hover btn {
  background-color: rgb(216, 49, 49);
}
.card-mainInfo {
  display: flex;
  justify-content: space-between;
}
.price {
  width: 70%;
  text-align: end;
  font-size: 1rem;
  margin: 1rem;
}
.price p {
  cursor: pointer;
}
