.card {
  width: 33%;
}

.card-style {
  text-align: center;
  height: 400px;
  width: 300px;
}

.card-style .img-container {
  position: relative;
}
.card-style .img-container img {
  height: 300px;
  width: 260px;
}
.shoppingCart-btn img {
  height: 30px;
  background-color: #fff;
}
.card-style .img-container .price {
  position: absolute;
  top: 10px;
  left: 1.4rem;
  font-size: 15px;
  background: white;
  padding: 10px;
}
