.container-edit-admin {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
}
.container-edit-admin img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: auto;
  height: 15%;
}
