.white-text-nav {
  color: #fff;
  font-size: 1.22rem;
  margin: 0 2%;
}
.white-text-nav-language {
  color: #fff;
  font-size: 0.85rem;
  justify-content: center;
  display: flex;
}
.dropdown-menu {
  max-width: 280px;
  border-radius: 0px;
}
.navbar-nav {
  width: 100%;
}
.cart-count {
  position: relative;
  font-size: 9.5px;
  font-weight: 600;
  border-radius: 100px;
  background: #f0b479;
  color: black;
  height: 25px;
  width: 25px;
  padding: 2px 5px;
  vertical-align: top;
  margin-left: -1px;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #f0b479;
  background-color: rgba(0, 0, 0, 0.889);
}
.log-out:hover {
  color: red;
  background-color: rgba(126, 126, 126, 0.225);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-content-categories {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 1.5s ease-in-out;
}
.dropdown-content-categories button {
  width: 280px;
  height: 35px;
  text-transform: uppercase;
}
.dropdown-content-categories checkbox {
  width: 280px;
  height: 35px;
  text-transform: uppercase;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropdown-content-categories {
  display: block;
  transition: 0.5s;
  transition-delay: 0;
}
.language-list {
  list-style: none;
}
