.btn-ban{
    border: none;
    outline: none;
    background-color: darkred;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
    width: 6vw;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-unban{
    border: none;
    outline: none;
    background-color: darkgreen;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
    width: 6vw;
    text-align: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}