.div-slide {
  width: 85%;
  display: flex;
  overflow: hidden;
  margin-bottom: 100px;
}
.div-slide-vertical {
  display: flex;
  width: 85%;
  height: 50vh;
  overflow: hidden;
  margin-bottom: 100px;
  @media only screen and (max-width: 900px) {
    display: none;
  }
}
.home-banner {
  width: 100vw;
  transform: translate(0, -140px);
}
.mySwiper {
}
.section-products-slider {
  position: relative;
  height: 100%;
}
.swiper {
  overflow: unset;
}
.swiper-slide-products {
  margin: 0 5px;
}
.swiper-button-prev {
  color: black;
}
.swiper-button-next {
  color: black;
}
.swiper-wrapper {
  position: unset;
}
