.container-login {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container {
  width: 50%;
}
.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  width: 40%;
  margin: 4rem 30%;

  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.loginCard form {
  width: 100%;
}
.loginCard h2 {
  padding: 0 15%;
}
.input-submit-create {
  background-color: black;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  align-items: center;
  font-size: 1.14rem;
  height: 3rem;
  width: 10rem;
  border-radius: 25px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.btn-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
form .btn-login input:hover {
  background: gray;
}
.input-submit-create:link,
.input-submit-create:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.input-submit-create:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.input-submit-create:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.createUser-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.createUser-container p {
  font-weight: 300;
}
.btn-createUser {
  font-weight: 600;
  padding-bottom: 15px;
}
.divInputUser {
  width: 100%;
  padding: 2vh 2vw;
}

.divInputUser input {
  height: 45px;
  width: 80%;
  margin: 0 10%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

small {
  font-size: 12px;
}
.error-style {
  margin: 0 10%;
}

.input-submit[disabled] {
  opacity: 0.3;
  pointer-events: none;
}
