/* .content-favorite{
    width: 100vw;
    height: auto;
}
.content-favorite>h3{
    margin: auto;
}

.content-favorite>div{
    display: flex;
    width: 100vw;
    justify-content: space-around;
}

.article-favorites{
    width: 50vh;
    height: 60vh;
    position: relative;
}

.article-favorites>picture{
    width: auto;
    height: 100%;
    position: absolute;
    z-index: 50;
}

.article-favorites>picture>img{
    width: 100%;
    height: 100%;
    display: none;
}

.content-details-favorite{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 80%;
} */
/* .content-favorite .col-md-4{
    height: 350px !important;
} */
.navPush-favorites {
  margin-top: 6%;
}
.container-all-favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.container-div-favorite {
  display: flex;
  justify-content: space-between;
  width: 45%;
  border: 1px solid black;
  margin-bottom: 3%;
}

.container-img-favorite {
  height: 12rem;
  width: 35%;
  position: relative;
}

.img-favorite {
  position: absolute;
  width: 100%;
  height: 100%;
}
