.search-bar {
  border-radius: 0;
}

.form-control {
  border: 1px solid #e6ccb2;
}

.form-control:focus {
  box-shadow: 0 1px 5px #e6ccb29f inset, 0 0 6px #e6ccb29f;
  outline: 0 none;
}
.form-control:focus {
  background-color: #fff;
  border-color: #e6ccb29f;
  outline: 0;
  box-shadow: 0 100px 5px #e6ccb249 inset, 0 0 5px #e6ccb29f;
}
.nav-language-search {
  display: flex;
  flex-direction: column;
}
