.details-container { 
  text-align: center;
  display: flex;
  margin-left: 500px;
  margin-top: 50px;
  width: 800px;
  height: 700px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
 
}
.details-container button {
  position: relative;
  width: 500px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin-bottom: 10px;
}

.product-img { 
  width:400px;
  height: 100%;
}
.product-info {  
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
}

.img-container{
  display: flex;
  
}
.title {
  letter-spacing: 4px;
  padding: 20px 0;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.titleDetails{
  font-weight: 600;
  font-size: 25px;
}
.description {  
  padding: 20px 0;  
  display: flex;
  flex-direction: column;
}
