.details-container {
  padding: 30px 30px;
  text-align: center;
  display: flex;
 
}
.details-container button {
  position: relative;
  width: 500px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  margin-bottom: 10px;
}

.product-img {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 500px;
  height: 100%;
}
.product-info {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 100%;

}

.img-container{
  display: flex;
  
}
.title {
  letter-spacing: 4px;
  padding: 20px 0;
  font-size: 25px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
}
.description {
  letter-spacing: 4px;
  padding: 20px 0;
  
  display: flex;
  flex-direction: column;
}
