.cart-container {
  display: flex;
  flex-direction: column;
  margin: 0 10%;
  padding-bottom: 100px;
}
.cart-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 22rem));
  gap: 1.2rem;
  justify-content: center;
}
.cart-container-title {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-weight: 600;
}
.cart-chechout-section {
  display: flex;
  justify-content: center;
  margin: 30px 0;
  flex-direction: column;
  align-items: center;
}
.cart-total-price {
  display: flex;
}
.total-price-cart {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  font-weight: 700;
  font-size: 1.2rem;
}

@media (hover: hover) {
  #creditcard {
    /*  set start position */
    transform: translateY(110px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */
  }

  #money {
    /*  set start position */
    transform: translateY(180px);
    transition: transform 0.1s ease-in-out;
    /*  set transition for mouse enter & exit */
  }

  button:hover #creditcard {
    transform: translateY(0px);
    transition: transform 0.2s ease-in-out;
    /*  overide transition for mouse enter */
  }

  button:hover #money {
    transform: translateY(0px);
    transition: transform 0.3s ease-in-out;
    /*  overide transition for mouse enter */
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.25rem);
  }
  100% {
    transform: translateY(0);
  }
}

.cart-buy-button:hover .button__text span {
  transform: translateY(-0.25rem);
  transition: transform 0.2s ease-in-out;
}

/* styling */

.cart-buy-button {
  border: none;
  outline: none;
  padding: 1rem 90px 1rem 2rem;
  position: relative;
  background-color: #4caf50;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  width: 335px;
  align-self: center;
}

.cart-buy-button:active {
  transform: translateY(1px);
}

.button__svg {
  position: absolute;
  overflow: visible;
  bottom: 5px;
  left: calc(100% - 100px);
  height: 90px;
}
.buy-btn-responsive {
  visibility: hidden;
}
@media only screen and (max-width: 550px) {
  .cart-buy-button {
    display: none;
  }
  .buy-btn-responsive {
    display: flex;
    justify-content: center;
    visibility: visible;
    border: none;
    outline: none;
    background-color: #4caf50;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
    width: 60%;
    align-self: center;
    align-items: center;
    height: 55px;
    margin-bottom: 20px;
    font-size: 1.2rem;

    cursor: pointer;
  }
  .buy-btn-responsive:hover {
    box-shadow: rgba(0, 9, 61, 0.5) 0px 4px 10px 0px;
  }
}

.empty-cart-btn {
  border: none;
  outline: none;
  background-color: #990404;
  height: 40px;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  width: 335px;
  text-align: center;
  align-items: center;
  @media only screen and (max-width: 550px) {
    width: 60%;
  }
  @media only screen and (max-width: 430px) {
    width: 60%;
    height: unset;
  }
}
.empty-cart-btn:hover {
  box-shadow: 0 5px 13px rgba(133, 2, 2, 0.409);
}
