.container-login {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-container {
  width: 50%;
  @media only screen and (max-width: 1080px) {
    width: 90%;
  }
}
.loginCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #fff;
  width: 60%;
  margin: 130px 20%;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  @media only screen and (max-width: 1080px) {
    width: 80%;
    margin: 130px 10%;
  }
  @media only screen and (max-width: 500px) {
    width: 100%;
    margin: 50px 0;
  }
}
.google-plus {
  width: 40%;
  margin: 0 35% 10px;
  align-self: auto;
  margin-left: 30%;
  background: white;
  border: 1px solid dodgerblue;
  color: dodgerblue;
}
.google-plus:hover {
  background: dodgerblue;
}

.input-submit-login {
  border: none;
  outline: none;
  background-color: #000000;
  height: 40px;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: rgba(0, 9, 61, 0.2) 0px 4px 8px 0px;
  width: 335px;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 25px 0;

  @media only screen and (max-width: 500px) {
    width: 100%;
    margin: unset;
  }
}
.login-welcome {
  font-size: 1.4rem;
  font-weight: 600;
  width: 74%;
  margin: 15px 13%;
  letter-spacing: 4px;
}
.btn-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}
form .btn-login input:hover {
  background: gray;
}
.input-submit:link,
.input-submit:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.input-submit:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.input-submit:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.createUser-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
.createUser-container p {
  font-weight: 300;
}
.btn-createUser {
  font-weight: 600;
  padding-bottom: 15px;
}
.divInputUser {
  width: 100%;
  padding: 2vh 2vw;
}

.divInputUser input {
  height: 45px;
  width: 80%;
  margin: 0 10%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.error-style {
  margin: 0 10%;
  color: red;
  font-size: 0.7rem;
  text-align: center;
}

.create-container {
  display: flex;
  flex-direction: column;
}
