.qua-container {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.divInputQuestuion input {
  display: flex;
}

.qua-ask {
  margin-top: 2vh;
}

.button-qua {
  background-color: black;
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  margin-top: 40px;
  height: 40px;
  align-items: center;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  font-weight: 600;
}
.button-qua:hover {
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}
.btn-question {
  display: flex;
}
.input-info {
  display: flex;
  width: 100%;
  justify-content: center;
  align-self: center;
  flex-direction: column;
}
.qua-textarea {
  overflow-x: hidden;
  overflow-wrap: break-word;
  height: 100px;
  width: 100%;
}
