.divInputQuestuion input{
    height: 50px;
    width: 300px;
    display: flex;
  
}
.btn-question{
    display: flex;
    height: 60px;
    width: 100px;
   
    
    
}
.input-info {
    display: flex;
    padding: 20px;
    justify-content: center;

}