.header-logo {
  text-align: center;
  height: 10vh;
  border-color: black;
  border: solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  background-color: rgb(0, 0, 0);
  text-decoration: none;
  height: 10vh;
  justify-content: space-around;
  align-items: center;
  display: flex;

}
.header-nav a {
  color: #fff;
}
